body {
    margin: 0;
}
header {
    max-height: 50%;
    background-color: #dddddd;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    position: sticky;
    top: 0;
}
header img {
    max-height: 5em;
    margin: 1em;
}
header form {
    float: right;
    margin-top: 2em;
    margin-right: 4em;
}

h1 {
    font-size: 5em;
    text-align: center;
    /* margin: 0; */
    text-transform: uppercase;
    width: 100%;

    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: .3em;
}
h2 {
    /*border-bottom: 2px solid black;*/
    /*border-left: 2px solid black;*/
    /*border-radius: .3em;*/
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}
h3 {
    font-size: 2em;
    text-transform: uppercase;
    margin-left: 1em;
    margin-left: 0.7em;
}

h4 {
    font-size: 1.5em;
    margin-left: 1em;
}
p, li {
    font-size: 1.28rem;
    margin-top: 0;
}
p {
    margin-left: 1em;
    margin-right: 1em;
}
ul {
    /* margin-bottom: 4em; */
}

a {
    text-decoration: none;
    color: #00493a;
    font-size: 1.25rem;
}

.sticky {
    position: sticky;
    top: 10em;
}

.anchor {
    position: absolute;
    transform: translateY(-40vh);
}

aside {
    width: 20%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 2;
    float: right;
    /*box-shadow: inset 5px 0 5px -5px #6b0013;*/
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 1em;
    min-height: 30vh;
}

aside.asideImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.products {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    float: right;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 1em;

    min-height: 30vh;
}

.leftHalf {
    width: 70%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    min-height: 30vh;
}

.button {
    border: 1px solid black;
    padding: .3em .5em .3em .5em;
    background-color: #6b0013;
    color: white;
    transition: .5s;
    display: inline-flex;
    max-width: fit-content;
}

.card a.button {
    margin-left: 1em;
}

.button:hover {
    background-color: #00493a;
    transition: .5s;
}

.grid {
    padding: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flexCard {
    flex: 1;
    margin: 1em;
}

.item {
    /* width: 8em; */
    margin: 10px;
}

.card.item {
    max-width: 45%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media(max-width:1152px) {
    .card.item {
        max-width: 80%;
        background-position:
    }
}

.memberCard {
    min-width: 35%;
    max-width: 40%;
    min-height: 70vh;
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
}

.memberCard.location {
    min-height: 30vh;
}

.spacer {
    flex-grow: 1;
}

.card.item h3 {
    flex-grow: 1;
}

.grid .iten {
    border-right: 1px solid black;
}

.center {
    text-align: center;
}

/* Content */
.content {
    max-width: 1200px;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.fullwidth {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}

.card {
    border: 2px solid black;
    padding: 1em;
    padding-bottom: 3em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.blogCard {
    /*border: 2px solid black;*/
    border-radius: 1em;
    margin-bottom: 2em;
    display:flex;
    align-items: stretch;
    padding: 1em;
    max-width: 45vh;
    min-height: 50vh;
}

.blogCard p {
    padding: 1em;
}


.imagespacer {
    height: 35vh;
    line-height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    vertical-align: baseline;

}
.imagespacer h1 {
    background-color: rgba(0,0,0,0.5);
}

/* Navigation */
nav.container, .breadcrumbs {
    background-color: #dddddd;
    position: sticky;
    top: 0;
}
.breadcrumbs {
    background-color: #dddddd;
    position: sticky;
    top: 5em;
    margin: 0;
    padding-bottom: 1em;
}
.breadcrumbs div {
    margin-left: 3.2em;
}

nav a {
    text-decoration: underline;
    border: 0px;
    color: #00493a;
    padding: .5em;
    text-transform: uppercase;
    transition: .5s;
}

@media(max-width: 1601px) {
    nav form {
        width: 100%;
        text-align: center;
    }
}
@media(max-width: 889px) {
    nav {
        position: inherit!important;
    }
    header {
        position: inherit!important;
    }
    nav .item {
        width: 100%;
        margin: .1em;
        padding-bottom: .3em;
    }
}
@media(max-width: 481px) {
    nav .button {
        width: 100%;
    }
}

input {
    font-size: 1.25em;
    padding: .25em 0em .25em 0em;
}

nav a:hover, nav a.active {
    border: 1px solid black;
}

/* Footer */
footer {
    background-color: #dddddd;
    bottom: 0;
    padding: .5em;
    height: 2em;

}
footer ul {
    margin: 0;
    margin-left: 2em;
}



.imglist {
    /* height: 4em; */
    line-height: 2em;
}

.icon {
    max-width: 1.5em;
    vertical-align: middle;
}

.imglist span {
    vertical-align: baseline;
    float:left;
}

.imglist a {
    float: right;
}

.links {
    margin-bottom: 2em;
}
